.pages-index {
  .el-header {
    background-color: #B3C0D1;
    color: #333;
    text-align: center;
    line-height: 60px;
    ul {
      overflow: hidden;
      display: flex;
      .pi-name {
        width: 250px;
      }
      .pi-menu{
        width: 100%;
        text-align: left;
      }
      .pi-right{
        width: 250px;
        text-align: right;
        .pi-toggle-color{
          margin-right: 20px;
        }
        .el-dropdown{
          line-height: normal;
          vertical-align: middle;
        }
        .login-photo{
          border-radius: 50%;
          width: 30px;
          height: 30px;
          display: inline-block;
          background-color: #ffffff;
        }
      }
    }
  }
  .tool-bars {
    line-height: 50px;
  }

  .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
  }

  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: center;
    padding: 0px;
  }
  .el-main > div {
    height: 100%;
  }
  .menu-index {
    background-color: RGBA(0, 0, 0, 0);
    li {
      text-align: left;
    }
    .el-menu-item {
      padding-left: 20px !important;
    }
  }
}