.bar-list {
  display: flex;
  li {
    width: 150px;
    border-right: 1px solid #ccc;
    padding-left: 15px;
  }
  li:last-child{
    width: 100%;
  }
  .bar-list-search{
    width: 150px;
    float: right;
  }
}

.tag-select-menu {
  width: auto !important;
  padding: 0px;
  .tag-main {
    position: relative;
    min-height: 150px;
    max-height: 300px;
    overflow-y: auto;
    width: 300px;
    .tag-active {
      background-color: #cccccc;
    }
    ul {
      padding: 0px;
      display: flex;
      flex-direction: column;
    }
    .tag-menu-item {
      line-height: 35px;
      width: 80px;
      cursor: pointer;
      .label {
        display: block;
        width: 100%;
        padding-left: 15px;
        z-index: 1;
        position: relative;
      }
    }
    .tag-submenu {
      position: absolute;
      width: 100%;
      z-index: 0;
      top: 0px;
      padding-top: 5px;
      padding-left: 95px;
      padding-right: 15px;
      border-left: 1px solid #e7dede;
      li {
        line-height: 25px;
        .tag-num {
          float: right;
        }
      }
    }
  }
  footer {
    padding: 5px;
    border-top: 1px solid #e8e4e4;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.color-list {
  overflow: hidden;
  .color-item {
    float: left;
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.score-popover {
  width: auto !important;
  padding: 0px;
  .score-body{
    overflow: hidden;
    .score-item, .score-item-desc {
      float: left;
      text-align: left;
      height: 100%;
    }
    .score-item-desc,.score-item ul{
      padding: 10px 20px;
    }
    .score-item{
      border-right: 1px solid #ccc;
    }
    .score-item-desc{
      width: 180px;
      word-break: break-word;
    }
    .el-checkbox{
      margin-right: 0px;
    }
    .score-stars{
      display: inline-block;
    }
  }
  .score-footer {
    text-align: right;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
  }
}